@use "sass:color";
$primary-color: #0366d6; // GitHub blue

.button {
  background-color: $primary-color;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    background-color: color.adjust($primary-color, $hue: 20deg, $space:oklch);}


  // Shrink the button on click
  &:active {
    transform: scale(0.95);
  }
}