@use "sass:color";
$hover-color: #fda4af;
$text-color: #ffffff;
$highlight: #21436b;

.footer {
  background: rgba($text-color, 0.05);
  backdrop-filter: blur(12px);
  margin-top: auto;

  .container {
    max-width: 1280px; // Tailwind max-w-7xl
    margin: 0 auto;
    padding: 2rem 1.5rem; // py-8 px-6
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // Left text block
  .info {
    background-color: $highlight;
    color: $text-color;
    letter-spacing: 0.05em; // tracking-wide
    padding: 0.5rem 1rem; // py-2 px-4
    border-radius: 1.5rem; // rounded-3xl
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: fit-content;
  }

  // Navigation links
  .links {
    padding-left:0.5rem ;
    display: flex;
    gap: 0.5rem;

    a {
      background-color: $highlight;
      color: $text-color;
      letter-spacing: 0.05em;
      padding: 0.5rem 1rem; // py-2 px-4
      border-radius: 1.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: $hover-color;
      }
    }
  }
}
