@use "sass:color";
$app-box-shadow: 5 5px 5px rgba(0, 0, 0, 1);

.reloadContainer {
  box-sizing: border-box;
  min-width: 28rem;
  padding: 5 0.5rem;
  display: flex;
  background-color: #1f2937;
  border-radius: 2rem; /* rounded-xl */
  box-shadow: $app-box-shadow;
  align-items: center;
  gap: 2rem;
  margin: 2rem 10rem;

  .reloadText {
    font-size: 14px;
    color: #eee;
    white-space: nowrap;
  }

  .progressBar {
    flex: 1;
    min-width: 10rem;
    height: 6px;
    background-color: #eee;
    border-radius: 3px;
    overflow: hidden;

    .progressFill {
      height: 100%;
      background-color: #21436b;
      transition: width 1s linear;
    }
  }
}
