@use "sass:color";

$app-box-shadow: 5 5px 5px rgba(0, 0, 0, 1);
$text-color: #ffffff;
$highlight: #21436b;

.navbar {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
  backdrop-filter: blur(12px); // matches backdrop-blur-md

  .links {
    // buttons parent
    display: flex;
  }

  .container {
    max-width: 1280px; // Tailwind max-w-7xl
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .logo {
    color: $text-color;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    text-decoration: none;
  }
  .profile {
    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }

  // Logo & profile elements
  .logo,
  .profile {
    background-color: $highlight;
    height: stretch; // fill the content height set by the buttons padding
    max-width: 20em; // grow with page
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0.125rem; // p-0.5
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;

    img {
      width: 32px; // w-8
      height: 32px; // h-8
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .logo,
    .profile {
      display: none;
    }
  }
}
